@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Liste des Lecteurs</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Rechercher par Nom ou Prenom: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Rechercher" class="btn btn-dark" /> |
            <a class="btn btn-outline-dark" asp-action="Index">Retour a la Liste complète</a>
        </p>
    </div>
</form>

@*if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-dark" asp-action="Create">Créer un nouveau lecteur</a>
    </p>
}*@

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong> Success !</strong> @TempData["AlertMessage"]
    </div>
}

<table class="table table-stripped table-bordered">
    <thead>
        <tr>
            @*<th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Nom</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Prénom</a>
            </th>
            <th>
                Email
            </th>
            <th>
                Téléphone
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Roles
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.NomLecteur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrenomLecteur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @foreach (var role in await UserManager.GetRolesAsync(await UserManager.FindByIdAsync(item.Id)))
                    {
                        <span>@Html.DisplayFor(modelItem => role) </span>
                    }
                </td>
                @*<td>
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-dark me-1"><i class="bi bi-info-circle"></i> Détails</button></a>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-dark me-1"><i class="bi bi-pen"></i> Éditer</button></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-danger me-1"><i class="bi bi-x-circle"></i> Supprimer</button></a>
                    }
                </td>*@
            </tr>
        }
    </tbody>
</table>
